.perfil {
  width: 90px;
  height: 90px;

  background-image: url("../image/patolino.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 60%;

  position: absolute;

  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.678);

  top: 60px;
}
